body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Dancing Script', cursive;
}
header h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    text-transform: uppercase;
    text-shadow: 5px 5px 4px #A3C4F3;

}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
h2{
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.navbar{
    width: 100%;
    height: 96px;
    background-color: #FBF8CC;
    display: flex;
    justify-content: flex-end;

}
.nav-left{
    position: absolute;
    width: 111px;
    height: 68px;
    left: 55px;
    top: 17px;

    background: #F1C0E8;
    display:flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}
ul{
    
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 65px;
    gap: 24px;

}
li{
    display: flex;
    width: 111px;
    height: 68px;
    background: #F1C0E8;
    justify-content: center;
    align-items: center;

    display: flex;
    align-items: center;
    color: #000000;

    transition: all 1s;
}

li:hover, .nav-left:hover, .section1-left button:hover, .grid-item:hover, form button:hover{
    text-decoration: underline;
    background-color: #FFCFD2;
    font-size: 1.5em;
    transform: translateY(-10px);
    color: blueviolet;

}
li:active, .nav-left:active, .section1-left button:active, .grid-item:active, form button:active{
    background-color: #CFBAF0;
    font-size: 1.2em;
}
input:focus{
    background-color: #8EECF5;
    font-size: 1.5em;
}


header{
    position: absolute;
    width: 100%;
    height: 292px;
    left: 0px;

    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    color: #000000;
    background-color: #98F5E1;
    border-bottom: 9px #FFFFFF

}
.section1 {
    position: absolute;
    width: 100%;
    height: 412px;
    left: 0px;
    top: 397px;

    background-color: #FBF8CC;
    display:flex;
    justify-content: center;
}
.section1-content{
    width: 100%;
    display: flex;
    justify-content: space-between;   
    align-items:center;
    gap: 293.16px;
}
.section1-left{
    width: 614px;
    margin-left: 69px;
    text-align: center;

    color: #000000;
}
.section1-left button{
    width: 157px;
    height: 56px;
    font-family: "Dancing Script", cursive;
    background-color: #F1C0E8;
}
.section1-right img{
    width: 300.25px;
    height: 274px;
    margin-right: 164px;

    background: #F1F1F1;
}
.section2{
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 818px;

    display: flex;
    justify-content: center;
    
    background: #B9FBC0;
    border-bottom: 9px #FFFFFF
}
.section2-content{
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.section2 h2{
    position: relative;
    width: 485px;
    height: 42px;

}

.section2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}
.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #F1C0E8;
    width: 168px;
    height: 138.46px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#grid-stack{
    display: flex;
    justify-content: center;
    width: 72px;
    flex-flow: column wrap;
    text-align: center;
}

footer{
    position:absolute;
    width: 100%;
    height: 445px;
    top: 1278px;
    background-color: #A3C4F3;
    display:flex;
    justify-content: center;
    background-color: #A3C4F3;


}
.footer-content{
    width: 439px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#name{
    width: 439px;
    height: 33px;
    margin-bottom: 17px;
}
#msg{
    width: 439px;
    height: 88px;
    margin-bottom: 17px;
}

form button {
    width: 132px;
    height: 51px;
    background-color: #F1C0E8;
    font-family: 'Dancing Script', cursive;

}
.buttom-stuff{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}
.buttom-stuff img{
    width: 50px;
    height:50px;
}